@model IEnumerable<FriendRequestView>

<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle dropdown-request-friends" id="group-drop" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="ri-group-line"></i>
    </a>
    <div class="sub-drop sub-drop-large dropdown-menu" aria-labelledby="group-drop">
        <div class="card">
            <div class="card-header d-flex justify-content-between bg-primary">
                <div>
                    <h5 class="text-white">Lời mời kết bạn</h5>
                </div>
                <small class="badge-h bg-light text-dark">@Model.Count()</small>
            </div>
            <div class="card-body p-0">
                @if (Model.Count() == 0)
                {
                    <div class="text-center p-1">Không có dữ liệu ...</div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        UserFriend userFriend = item.UserFriend;
                        UserImage avatar = item.UserImage;

                        <div class="friend-request">

                            <div class="sub-card d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="/Users/Profile?userId=@userFriend.SourceId" class="d-flex">
                                        <img src="data:image/jpeg;base64,@avatar.ImageData" alt="" class="avatar-40 rounded">
                                        <div class="ms-3">
                                            <h6 class="mb-0 friend-request-user-name">@userFriend.SourceUser.UserName</h6>
                                            <p class="mb-0">
                                                @userFriend.CreatedAt
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center handler-request-friends">
                                    <button type="button" class="me-3 btn btn-primary rounded btn-accept-friend" value="@userFriend.SourceId">Xác nhận</button>
                                    <button type="button" class="me-3 btn btn-secondary rounded btn-delete-friend" value="@userFriend.SourceId">Xóa</button>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
            <div class="card-footer p-0">
                @if (Model.Count() != 0)
                {
                    <div class="text-center">
                        <a href="#" class="btn text-primary">Xem tất cả</a>
                    </div>
                }
            </div>
        </div>
    </div>
</li>